<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
<%- include('./partials/topnavbar'); %>

<%# Middleware express-ejs-layouts inserts the render content into the next variable %>
<%- body %>

<%- include('./partials/footer'); %>
</body>
</html>